<div class="page-head_agile_info_w3l">
  <div class="container">
    <h3>Product <span>Content </span></h3>
    <!--/w3_short-->
    <div class="services-breadcrumb">
      <div class="agile_inner_breadcrumb">

        <ul class="w3_short">
          <li><a [routerLink]="['/']">Home</a><i>|</i></li>
          <li>Content</li>
        </ul>
      </div>
    </div>
    <!--//w3_short-->
  </div>
</div>

<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
  <div class="container">
    <div class="col-md-4 single-right-left ">
      <div class="grid assets/images_3_of_2">
        <div class="flexslider">

          <ul class="slides">
            <li data-thumb="assets/images/d2.jpg">
              <div class="thumb-image"> <img src="assets/images/d2.jpg" data-imagezoom="true" class="img-responsive">
              </div>
            </li>
            <li data-thumb="assets/images/d1.jpg">
              <div class="thumb-image"> <img src="assets/images/d1.jpg" data-imagezoom="true" class="img-responsive">
              </div>
            </li>
            <li data-thumb="assets/images/d3.jpg">
              <div class="thumb-image"> <img src="assets/images/d3.jpg" data-imagezoom="true" class="img-responsive">
              </div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-8 single-right-left simpleCart_shelfItem">
      <h3>三隻小豬</h3>
      <p><span class="item_price">$650</span> <del>- $900</del></p>
      <div style="padding: 0px 0px 0px 18px">
        <ul>
          <li>作者：人</li>
          <li>譯者：另一個人</li>
          <li>出版社：一家公司</li>
          <li>ISBN：9879879871234</li>
        </ul>
      </div>

      <form action="">
        <div class="description">選擇商品數量：<select name="amount">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>


          </select></div>
        <input type="button" class="add_to_cart_button" value="加入購物車" (click)="add_to_cart()">
      </form>

    </div>
    <div class="clearfix"> </div>
    <!-- /new_arrivals -->
    <div class="responsive_tabs_agileits">
      <div id="horizontalTab">
        <ul class="resp-tabs-list">
          <li>Description</li>
          <li>Reviews</li>
          <li>Information</li>
        </ul>
        <div class="resp-tabs-container">
          <!--/tab_one-->
          <div class="tab1">

            <div class="single_page_agile_its_w3ls">
              <h6>★經典兒童睡前故事★來自全世界的各國優秀畫家，繪製全新的精美插畫</h6>
              <p class="w3ls_para">
                　　1.世界童話系列共有十本，集結膾炙人口的經典童話故事，讓爸爸媽媽和孩子都能一起沉浸在美好的童話世界裡，令人回味無窮。
                　　2.書籍規格採用高級精裝，方型尺寸攜帶方便，家裡的小寶貝值得擁有最美好的兒時回憶！內附CD，有聲書搭配內頁插畫，讓故事簡單易懂，童話更有溫度。
              </p>
            </div>
          </div>
          <!--//tab_one-->
          <div class="tab2">

            <div class="single_page_agile_its_w3ls">
              <div class="bootstrap-tab-text-grids">
                <div class="bootstrap-tab-text-grid">
                  <div class="bootstrap-tab-text-grid-left">
                    <img src="assets/images/t1.jpg" alt=" " class="img-responsive">
                  </div>
                  <div class="bootstrap-tab-text-grid-right">
                    <ul>
                      <li><a href="#">路人甲</a></li>
                      <li><a href="#"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a></li>
                    </ul>
                    <p>啊我覺得很好看</p>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="add-review">
                  <h4>留下你的好評</h4>
                  <form action="#" method="post">
                    <input type="text" name="Name" required="Name" placeholder="請輸入您的暱稱">
                    <input type="email" name="Email" required="Email" placeholder="請輸入您的E-mail">
                    <textarea name="Message" required="" placeholder="請輸入評語"></textarea>
                    <input type="submit" value="SEND">
                  </form>
                </div>
              </div>

            </div>
          </div>
          <div class="tab3">

            <div class="single_page_agile_its_w3ls">
              <h6>作者介紹</h6>
              <h3>人</h3>
              <p class="w3ls_para">是個很優秀的朋友呢
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //new_arrivals -->
    <!--/slider_owl-->


  </div>
</div>
<!--//single_page-->
