<!-- header：登入註冊 -->
<div class="header" id="home">
  <div class="container">
    <ul>
      <li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
      <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>
      <ng-container *ngIf="login === 0; else elseTag">
        <li> <a [routerLink]="['/signup']"><i class="fa fa-pencil-square-o"></i>
            註冊 </a></li>
        <li> <a [routerLink]="['/login']"><i class="fa fa-unlock-alt"></i>
            登入 </a></li>
      </ng-container>
      <ng-template #elseTag>
        <li>{{username}} 您好！</li>
        <li> <a [routerLink]="" (click)="logout()"><i class="fa fa-unlock-alt"></i>
            登出 </a></li>
      </ng-template>
    </ul>
  </div>
</div>
<!-- //header -->

<!-- header-bot：搜尋 大標 -->
<div class="header-bot">
  <div class="header-bot_inner_wthreeinfo_header_mid">
    <div class="col-md-4 header-middle">
      <form action="#" method="post">
        <input type="search" name="search" placeholder="Search here..." required="">
        <input type="submit" value=" ">
        <div class="clearfix"></div>
      </form>
    </div>
    <!-- header-bot -->
    <div class="col-md-4 logo_agile">
      <h1><a [routerLink]="['/']"><span>Book</span>Store <i class="fa fa-shopping-bag top_logo_agile_bag" aria-hidden="true"></i></a></h1>
    </div>
    <!-- header-bot -->
    <div class="col-md-4 agileits-social top_content">
      <ul class="social-nav model-3d-0 footer-social w3_agile_social">
        <li class="share">Share On : </li>
        <li><a href="#" class="facebook">
            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
          </a></li>
        <li><a href="#" class="twitter">
            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
          </a></li>
        <li><a href="#" class="instagram">
            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
          </a></li>
        <li><a href="#" class="pinterest">
            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
          </a></li>
      </ul>



    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //header-bot -->
<!-- banner：選單 -->
<div class="ban-top">
  <div class="container">
    <div class="top_nav_left">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav menu__list">
              <li class=" menu__item"><a class="menu__link" [routerLink]="['/']">Home</a></li>
              <li class=" menu__item"><a class="menu__link" [routerLink]="['/about']">About</a></li>
              <li class="dropdown menu__item">
                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Products <span class="caret"></span></a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="agile_inner_drop_nav_info">
                    <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                      <a [routerLink]="['/products']"><img src="assets/images/top2.jpg" alt=" " /></a>
                    </div>
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a [routerLink]="['/products']">文學叢書</a></li>
                        <li><a [routerLink]="['/products']">考試用書</a></li>
                        <li><a [routerLink]="['/products']">童書繪本</a></li>
                        <li><a [routerLink]="['/products']">語言學習</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a [routerLink]="['/products']">漫畫</a></li>
                        <li><a [routerLink]="['/products']">小說</a></li>
                        <li><a [routerLink]="['/products']">雜誌</a></li>
                        <li><a [routerLink]="['/products']">文具</a></li>
                      </ul>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>
              <li class=" menu__item"><a class="menu__link" [routerLink]="['/contact']">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="top_nav_right">
      <div class="wthreecartaits wthreecartaits2 cart cart box_1">
        <a href="#" data-toggle="modal" data-target="#cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //banner-top -->
<!-- 購物車 -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body modal-body-sub_agile">
        <div class="col-md-8 modal_body_left modal_body_left1">
          <h3 class="agileinfo_sign">購物車 <span>清單</span></h3>

          <table>
            <!-- 購物車列表還沒做-->
          </table>

          <div class="clearfix"></div>

        </div>
        <div class="col-md-4 modal_body_right modal_body_right1">
          <img src="assets/images/log_pic.jpg" alt=" " />
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- //Modal content-->
  </div>
</div>
<!-- //購物車 -->
