<div class="checkout">
  <div class="container">
    <div class="checkout-left">
      <div class="checkout-left-basket">
        <h4>Continue to basket</h4>
        <ul>
          <ng-container *ngFor="let item of showcart;">
            <li>{{item.name}} <span>NT${{item.price}} x {{item.amount}} = NT${{item.price*item.amount}} </span></li>
          </ng-container>
          <li>運費 <span>NT$65</span></li>
          <li>----------------------------------------</li>
          <li><strong>總金額 <span>NT${{ total + 65 }}</span></strong></li>
        </ul>
      </div>
    </div>
    <div style="padding: 0% 20% 0% 20%;">
      <table class="product_list">
        <h3>填寫訂單資料</h3>
        <tr>
          <th>訂購人姓名：</th>
          <td><input type="text" name="name" placeholder="請輸入姓名"[(ngModel)]="order.name"></td>
        </tr>
        <tr>
          <th>電話：</th>
          <td><input type="text" name="phone" placeholder="請輸入電話"[(ngModel)]="order.phone"></td>
        </tr>
        <tr>
          <th>E-mail：</th>
          <td><input type="text" name="email" placeholder="請輸入E-mail"[(ngModel)]="order.email"></td>
        </tr>
        <tr>
          <th>地址：</th>
          <td><input type="text" name="address" placeholder="請輸入地址"[(ngModel)]="order.address"></td>
        </tr>
        <tr>
          <th>付款方式：</th>
          <td><input type="radio" name="pay" value="'信用卡付款'"[(ngModel)]="order.pay">信用卡付款  <input type="radio" name="pay" value="'轉帳付款'"[(ngModel)]="order.pay">轉帳付款
          </td>
        </tr>
        <tr>
          <th>運送方式：</th>
          <td><input type="radio" name="transmit" value="'郵寄'"[(ngModel)]="order.transmit">郵寄 <input type="radio" name="transmit" value="'7-11取貨'"[(ngModel)]="order.transmit">7-11取貨
          </td>
        </tr>
      </table>
    </div>
    <div class="checkout-right-basket">
        <a [routerLink]="['/products']"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>返回購物</a>

        <a (click)="submit(order, showcart, total)"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>送出訂單</a>

      </div>
  </div>
</div>
