<!-- 標題 -->
<div class="page-head_agile_info_w3l">
  <div class="container">
    <h3>About <span>Us </span></h3>
    <div class="services-breadcrumb">
      <div class="agile_inner_breadcrumb">

        <ul class="w3_short">
          <li><a [routerLink]="['/']">Home</a><i>|</i></li>
          <li>About</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- //標題 -->
<div class="banner_bottom_agile_info">
  <div class="container">
    <!-- 介紹文 -->
    <div class="agile_ab_w3ls_info">
      <div class="col-md-6 ab_pic_w3ls">
        <img src="assets/images/ab_pic.jpg" alt=" " class="img-responsive" />
      </div>
      <div class="col-md-6 ab_pic_w3ls_text_info">
        <h5>關於我們的 <span> 貓咪書店</span> </h5>
        <p>俗話說，有貓就推。我們的宗旨就是擁有一間貓咪書店不含貓咪。</p>
        <p>貓咪是一種精神象徵，存在於我們的骨血之中；我們不需要貓咪的形體，只需一顆愛貓的心，啾咪。</p>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- //介紹文 -->
    <!-- 團隊介紹 -->
    <div class="banner_bottom_agile_info team">
      <div class="container">
        <h3 class="wthree_text_info">Our Team <span>Members</span></h3>
        <div class="inner_w3l_agile_grids">
          <div class="col-md-3 team-grids" *ngFor="let item of admins">
            <div class="thumbnail team-w3agile">
              <img [src]="item.picture" class="img-responsive" alt="">
              <div class="social-icons team-icons right-w3l fotw33">
                <div class="caption">
                  <h4>{{ item.display_name }}</h4>
                  <p>{{ item.discrimination }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <!-- //團隊介紹 -->
  </div>
</div>
