<div class="header-bot" align="center"><font color="green"  face="微軟正黑體" size = "7"> 訂單查詢 </font>
  <div class="header-bot_inner_wthreeinfo_header_mid">
    <div class="col-md-4 header-middle">
    <form action="#" method="post">
      <input type="search" name="search" placeholder="Search here..." required="" [(ngModel)]="keyword">
      <input type="submit" value=" " (click)="search()">
      <div class="clearfix"></div>
    </form>
    </div>
  </div>
</div>
<br><br>

<table border="1" align="center" valign="center">
  　<tr>
  　  <td width="1000"  colspan="2" align="center">
        <font size="5" color="red">查詢結果</font>
      </td>
  　</tr>
  　<tr>
      <font>
        <td width="150" align="center">訂單一 </td>
  　    <td width = "850" align="center">訂單一內容</td>
      </font>
  　</tr>
  　<tr>
      <font>
        <td width="150" align="center">訂單二 </td>
  　    <td width = "850" align="center">訂單二內容</td>
      </font>
  　</tr>
  　<tr>
      <font>
        <td width="150" align="center">訂單三 </td>
  　    <td width = "850" align="center">訂單三內容</td>
      </font>
  　</tr>
  </table>
<!--
  <ng-container *ngFor="let item of orderlist; let index=index; let last=last;">
    <div class="clearfix"></div>
    <p>
      <span class="header-bot">訂單{{item.id}}:
          <ng-container *ngFor="let product of item.productlist; let index=index; let last=last;">
            <div class="header-bot_inner_wthreeinfo_header_mid">商品:{{product.title}}</div>
            <div class="header-bot_inner_wthreeinfo_header_mid">價格:{{product.price}}</div>
            <br>
          </ng-container>
      </span>
    </p>

  </ng-container> -->

