<!-- 登入 -->

<!-- Modal content -->
<div class="modal-content" style="padding: 100px;">
  <div class="modal-body modal-body-sub_agile">
    <div class="col-md-8 modal_body_left modal_body_left1">
      <h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
      <form name="loginForm">
        <div class="styled-input">
          <input
            ng-model="email"
            name="email"
            required=""
            [(ngModel)]="user.email"
            required
            type="email"
          />
          <label>Email</label
          >
        </div>
        <div class="styled-input">
          <input
            type="password"
            name="password"
            ng-modle="password"
            required=""
            [(ngModel)]="user.password"
            ng-minlength="6"
            required
          />
          <label>Password</label>

        </div>

        <input
          type="button"
          class="function_button"
          value="登入"
          (click)="login()"
          ng-disable="loginForm.$invalid"
        /> or 
      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="email"></div>
        <p ><a href="http://host.limaois.me:1723/password/reset"> 忘記密碼</a></p>
      </form>
      <div class="clearfix"></div>
      <p><a href="#" [routerLink]="['/signup']"> 註冊會員</a></p>
    </div>
    <div class="col-md-4 modal_body_right modal_body_right1">
      <img src="assets/images/log_pic.jpg" alt=" " />
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //Modal content -->

<!-- //登入 -->
