<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
  <div class="container">
    <h3>Products</h3>
    <!--/w3_short-->
    <div class="services-breadcrumb">
      <div class="agile_inner_breadcrumb">

        <ul class="w3_short">
          <li><a [routerLink]="['/']">Home</a><i>|</i></li>
          <li>Products</li>
        </ul>
      </div>
    </div>
    <!--//w3_short-->
  </div>
</div>

<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
  <div class="container">
    <!-- mens -->
    <div class="col-md-4 products-left">
      <div class="css-treeview">
        <h4>Categories</h4>
        <ul class="tree-list-pad">
          <li><input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i> 所有商品</label>
            <ul>
              <li><input type="checkbox" id="item-0-0" /><label for="item-0-0"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i> 文學叢書</label>
                <ul>
                  <li><a [routerLink]="['product']">靈異奇幻</a></li>
                  <li><a [routerLink]="['product']">心理勵志</a></li>
                  <li><a [routerLink]="['product']">醫療保健</a></li>
                </ul>
              </li>
              <li><input type="checkbox" id="item-0-1" /><label for="item-0-1"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i> 考試用書</label>
                <ul>
                  <li><a [routerLink]="['product']">小學</a></li>
                  <li><a [routerLink]="['product']">國中</a></li>
                  <li><a [routerLink]="['product']">高中</a></li>
                  <li><a [routerLink]="['product']">大學</a></li>
                </ul>
              </li>
              <li><input type="checkbox" id="item-0-2" /><label for="item-0-2"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i> 童書繪本</label>
                <ul>
                  <li><a [routerLink]="['product']">學齡前</a></li>
                  <li><a [routerLink]="['product']">學齡</a></li>
                </ul>
              </li>
              <li><input type="checkbox" id="item-0-2" /><label for="item-0-2"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i> 語言學習</label>
                <ul>
                  <li><a [routerLink]="['product']">英文</a></li>
                  <li><a [routerLink]="['product']">日文</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="community-poll">
        <h4>Search</h4>
        <div>
          <form>
            <table class="search_list">
              <tr>
                <th>書名</th>
                <td><input type="text" placeholder="請輸入書名"></td>
              </tr>
              <tr>
                <th>作者</th>
                <td><input type="text" placeholder="請輸入作者"></td>
              </tr>
              <tr>
                <th>出版社</th>
                <td><input type="text" placeholder="請輸入出版社"></td>
              </tr>
              <tr>
                <th>ISBN</th>
                <td><input type="text" placeholder="請輸入ISBN"></td>
              </tr>
              <tr>
                <th>類別</th>
                <td><select >
                    <option value="">請選擇類別</option>
                    <option value="文學叢書">文學叢書</option>
                    <option value="童書繪本">童書繪本</option>
                    <option value="語言學習">語言學習</option>
                    <option value="考試用書">考試用書</option>
                  </select></td>
              </tr>
            </table>
            <div style="padding: 5px 0px 20px 0px; text-align: center">
              <input type="button" class="function_button" value="搜尋商品">
            </div>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-8 products-right">
      <h5>Product <span>Compare(0)</span></h5>
      <div class="sort-grid">
        <div class="sorting">
          <h6>Sort By</h6>
          <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
            <option value="null">所有商品</option>
            <option value="null">價格：由高到低</option>
            <option value="null">價格：由低到高</option>
          </select>
          <div class="clearfix"></div>
        </div>
        <div class="sorting">
          <h6>Showing</h6>
          <select id="country2" onchange="change_country(this.value)" class="frm-field required sect">
            <option value="null">7</option>
            <option value="null">14</option>
            <option value="null">28</option>
            <option value="null">35</option>
          </select>
        </div>
        <div class="clearfix"></div>
      </div>
      <app-list></app-list>
    </div>
    <div class="clearfix"></div>

    <!-- //mens -->
