.keyword_list {
  align-self: center;
  width: 100%;
}
.keyword_list tr {
  height: 50px;
}
.keyword_list th {
  text-align: end;
  padding: 0px 20px 0px 25px;
  width: 30%;
}
.keyword_list td {
  width: 70%;
}
.keyword_list input {
  width: 80%;
}
