<!-- title -->
<div class="page-head_agile_info_w3l">
  <div class="container">
    <h3>Products</h3>
    <div class="services-breadcrumb">
      <div class="agile_inner_breadcrumb">

        <ul class="w3_short">
          <li><a [routerLink]="['/']">Home</a><i>|</i></li>
          <li>Products</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- //title -->
<div class="banner-bootom-w3-agileits">
  <div class="container">
    <!-- 左欄 -->
    <div class="col-md-4 products-left">
      <div class="css-treeview">
        <h4>Categories</h4>
        <ul class="tree-list-pad">
          <li><input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><i class="fa fa-long-arrow-right"
                aria-hidden="true"></i> 所有商品</label>
            <ul>
              <li><input type="checkbox" id="item-0-0" /><label for="item-0-0"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i> 文學叢書</label>
                <ul>
                  <li><a [routerLink]="['/products']">靈異奇幻</a></li>
                  <li><a [routerLink]="['/products']">心理勵志</a></li>
                  <li><a [routerLink]="['/products']">醫療保健</a></li>
                </ul>
              </li>
              <li><input type="checkbox" id="item-0-1" /><label for="item-0-1"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i> 考試用書</label>
                <ul>
                  <li><a [routerLink]="['/products']">小學</a></li>
                  <li><a [routerLink]="['/products']">國中</a></li>
                  <li><a [routerLink]="['/products']">高中</a></li>
                  <li><a [routerLink]="['/products']">大學</a></li>
                </ul>
              </li>
              <li><input type="checkbox" id="item-0-2" /><label for="item-0-2"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i> 童書繪本</label>
                <ul>
                  <li><a [routerLink]="['/products']">學齡前</a></li>
                  <li><a [routerLink]="['/products']">學齡</a></li>
                </ul>
              </li>
              <li><input type="checkbox" id="item-0-2" /><label for="item-0-2"><i class="fa fa-long-arrow-right"
                    aria-hidden="true"></i> 語言學習</label>
                <ul>
                  <li><a [routerLink]="['/products']">英文</a></li>
                  <li><a [routerLink]="['/products']">日文</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="community-poll">
        <h4>Search</h4>
        <div>
          <form>
            <table class="search_list">
              <tr>
                <th>書名</th>
                <td><input type="text" placeholder="請輸入書名"></td>
              </tr>
              <tr>
                <th>作者</th>
                <td><input type="text" placeholder="請輸入作者"></td>
              </tr>
              <tr>
                <th>出版社</th>
                <td><input type="text" placeholder="請輸入出版社"></td>
              </tr>
              <tr>
                <th>ISBN</th>
                <td><input type="text" placeholder="請輸入ISBN"></td>
              </tr>
              <tr>
                <th>類別</th>
                <td><select>
                    <option value="">請選擇類別</option>
                    <option value="文學叢書">文學叢書</option>
                    <option value="童書繪本">童書繪本</option>
                    <option value="語言學習">語言學習</option>
                    <option value="考試用書">考試用書</option>
                  </select></td>
              </tr>
            </table>
            <div style="padding: 5px 0px 20px 0px; text-align: center">
              <input type="button" class="function_button" value="搜尋商品">
            </div>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- //左欄 -->
    <div class="col-md-8 products-right">
      <!-- 右上區塊 -->
      <h5>Product <span>Compare(0)</span></h5>
      <div class="sort-grid">
        <div class="sorting">
          <h6>Sort By</h6>
          <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
            <option value="null">所有商品</option>
            <option value="null">價格：由高到低</option>
            <option value="null">價格：由低到高</option>
          </select>
          <div class="clearfix"></div>
        </div>
        <div class="sorting">
          <h6>Showing</h6>
          <select id="amount" [(ngModel)]="amount" (change)="page=1;">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="9">9</option>
            <option value="12">12</option>
          </select>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- //右上區塊 -->
      <!-- 商品列表 -->
      <ng-container *ngFor="let item of products;let index=index;let last=last;">
        <div class="col-md-4 product-men" *ngIf="index >= amount * (page-1) && index < amount * page">

          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img [src]="item.photo" alt="" class="pro-image-front">
              <img [src]="item.photo" alt="" class="pro-image-back">
              <div class="men-cart-pro">
                <div class="inner-men-cart-pro">
                  <a [routerLink]="['/products/', item.id]" class="link-product-add-cart">商品資訊</a>
                </div>
              </div>

            </div>
            <div class="item-info-product ">
              <h4><a [routerLink]="['/products/', item.id]">{{ item.name }}</a></h4>
              <div class="info-product-price">
                <span class="item_price">${{ item.price}}</span>
                <del>${{ item.price * 1.5}}</del>
              </div>
              <div>
                <input type="button" class="function_button" value="加入購物車" (click)="add_to_cart(item.id, 1)">
              </div>

            </div>
          </div>

        </div>
      </ng-container>
      <!-- //商品列表 -->
      <div class="clearfix"></div>
      <!-- 選頁 -->
      <div style="text-align: center">
        <ul class="pagination pagination-lg">
          <li *ngIf="amount < products.length"><a (click)="page=1"><span aria-hidden="true">«</span></a></li>
          <li *ngIf="page - 2 > 0"><a (click)="page=page-2">{{page-2}}</a></li>
          <li *ngIf="page - 1 > 0"><a (click)="page=page-1">{{page-1}}</a></li>
          <li class="active" *ngIf="amount < products.length"><a>{{page}}</a></li>
          <li *ngIf="(page + 1) * amount - products.length < amount"><a (click)="page=page+1">{{page+1}}</a></li>
          <li *ngIf="(page + 2) * amount - products.length < amount"><a (click)="page=page+2">{{page+2}}</a></li>
          <li *ngIf="amount < products.length"><a (click)="page=(products.length - products.length % amount)/amount+1"
              aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
      </div>
      <!-- //選頁 -->
    </div>
    <div class="clearfix"></div>
