<div class="clearfix"></div>
<div class="checkout">
  <div class="container">
    <h2>購物車中有<span style="color: #68d6c1;">{{ showcart.length }}項商品</span></h2>
    <!-- 購物車清單-->
    <div class="checkout-right">
      <table class="timetable_sub">
        <thead>
          <tr>
            <th></th>
            <th>商品名稱</th>
            <th>商品圖片</th>
            <th>售價</th>
            <th>數量</th>
            <th>刪除</th>
          </tr>
        </thead>
        <ng-container *ngFor="let item of showcart; let index=index;">
          <tr>
            <td>{{ index + 1 }}</td>
            <td><a [routerLink]="['/products/', item.id]">{{ item.name }}</a></td>
            <td class="invert-image"><a [routerLink]="['/products/', item.id]"><img [src]="item.photo" alt=" " /></a></td>
            <td>NT${{ item.price }}</td>
            <td>
              <div class="quantity">
                <div class="quantity-select">
                  <a (click)="minor(index)">
                    <div class="entry value-minus"></div>
                  </a>
                  <div class="entry value"><span>{{ item.amount }}</span></div>
                  <a (click)="plus(index)">
                    <div class="entry value-plus active"></div>
                  </a>
                </div>
              </div>
            </td>
            <td>
              <img src="assets/images/close_1.png" style="text-align:center;" (click)="delete_item(index)">
            </td>
          </tr>
        </ng-container>

      </table>
    </div>
    <!-- //購物車清單-->
    <!-- 計算金額的小表格-->
    <div class="checkout-left">
      <div class="checkout-left-basket">
        <h4>訂單內容</h4>
        <ul>
          <ng-container *ngFor="let item of showcart;">
            <li>{{item.name}} <span>NT${{item.price}} x {{item.amount}} = NT${{item.price*item.amount}} </span></li>
          </ng-container>
          <li>運費 <span>NT$65</span></li>
          <li>----------------------------------------</li>
          <li><strong>總金額 <span>NT${{ total + 65 }}</span></strong></li>
        </ul>
      </div>
    </div>
    <!-- //計算金額的小表格-->
    <!-- 兩個按鈕-->
    <div class="checkout-right-basket">
      <a [routerLink]="['/products']"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>繼續購物</a>

      <a [routerLink]="['/checkout']"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>開始結帳</a>

    </div>
    <!-- //兩個按鈕-->
    <div class="clearfix"> </div>
  </div>

</div>
